mat-sidenav{
    width: 450px;
}
.cartTable{
    width: 100%;
}
.mat-column-price{
    width: 32px;
}
.mat-column-quantity{
    width: 32px;
}
.mat-column-totalPrice{
    width: 32px;
}
.mat-column-title{
    width: 100px;
}
h3{
    color: #00dddd;
}
h3>span{
    color: white;
}
.cartGoods{
    display: flex;
    flex-wrap: wrap;
}