<form class="priceSlider">
  <mat-slider min="1" max="1500" discrete="">
    <input value="1" matSliderStartThumb
    [formControl]="priceLowerControl" />
    <input value="1500" matSliderEndThumb 
    [formControl]="priceUpperControl"/>
  </mat-slider>
  <button mat-raised-button
  type="button"
  (click)="handlePriceFilter()">Filter price</button>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Category</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="categoryControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="handleCategorySelect($event)"
    >
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
