<h2 mat-dialog-title>Pay with Mpesa</h2>
<mat-dialog-content>
  <p>Total Price:{{orderDetails.totalPrice | currency}}</p>
  <img src="mpesa.png" alt="">
             <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input matInput type="text" [formControl]="phoneNumber" />
                <mat-hint>Enter your mpesa phone number</mat-hint>
                @if(phoneNumber.invalid&&(phoneNumber.touched)){
                @if(phoneNumber.hasError('required')){
                <mat-error>mpesa number is required</mat-error>
                }
                @if(phoneNumber.hasError('pattern')){
                <mat-error>invalid kenyan phone number.Example:0712 345 567</mat-error>
                }
               }
              </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">cancel</button>
  <button mat-button  (click)="onPayment()" cdkFocusInitial>
    Pay
  </button>
</mat-dialog-actions>
