<mat-toolbar>
    <button 
    (click)="sidenav.toggle()"
    mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
    </button>
    <app-search></app-search>
    <mat-chip-set>
        @for(chip of filterChips$ | async;track chip.length ){
            <mat-chip>{{chip}}</mat-chip>
        }
    </mat-chip-set>
    <button mat-flat-button
(click)="logout()" >Log out</button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav><app-side-nav></app-side-nav></mat-sidenav>
    <mat-sidenav-content>
        <div class="allProducts">
            @if(products$ | async; as products){
                @if(products.length>=1){
                    @for(product of products;track product.pid){
                        <app-product [product]="product"/>
                    }
                }
                @else{
                    <p>No such items exist with the filters provided</p>
                }
            }
            @else {
                <mat-spinner></mat-spinner>
            }
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<p>home works!</p>
<div *ngIf="currentUser$ |async as user">
    <p>{{user.email}}</p>
    <p>{{user.userId}}</p>
    <p>{{user.userName}}</p>
</div>



