<mat-toolbar>
    <button 
    (click)="sidenav.toggle()"
    mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-flat-button
(click)="logout()" >Log out</button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav><app-side-nav></app-side-nav></mat-sidenav>
    <mat-sidenav-content>
        <div class="allProducts">
            @for(product of products$ | async ;track product.pid){
                <app-product [product]="product"/>
            }
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<p>home works!</p>
<div *ngIf="currentUser$ |async as user">
    <p>{{user.email}}</p>
    <p>{{user.userId}}</p>
    <p>{{user.userName}}</p>
</div>



