mat-card{
    color: white;
}

.product{
    display: flex;
    margin-bottom: 10px;
    margin-right: 5px;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px; /* Adjust based on your requirement */
}
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.original-price{
    text-decoration: line-through;
}
.return_poicy{
    margin-top: auto;
}