<mat-toolbar>
  <h1>Profile Picture</h1>
</mat-toolbar>
@if(selectedImage()){
  <mat-progress-bar mode="determinate" [value]="progressbarPercent()"></mat-progress-bar>
}

<div>
  <div class="imgContainer">
    <img
      [src]="croppedImage() ? croppedImage() : 'https://placehold.co/300'"
      alt=""
      width="300px"
      height="300px"
    />
  </div>
  <div>
    <input
      #fileinput
      type="file"
      (change)="openDialog($event)"
      (click)="fileinput.value = ''"
      hidden
    />
    <button mat-flat-button (click)="fileinput.click()">
      Choose Profile Pic
    </button>
    @if(croppedImage()){
    <button (click)="uploadProfilePhoto()"
    mat-raised-button>Upload profile pic</button>
    }
  </div>
</div>
